/* ============== MENU ============== */

.menu {
  display: flex;
  width: 100vw;
  justify-content: flex-end;
  position: fixed;  
  z-index: 2;
}

.menu a {
  color: var(--escrita);
  margin-right: 1em;
  text-decoration: none;   
}

.menu__item {
  display: flex;
  background-color: var(--icones);
  border-radius: 100px;
  padding: 0.5em 0.7em;
  margin-top: 0.5vw;
  margin-bottom: 0.5vw;
  transform: translateX(100%);
  transition: transform 0.3s;
  animation: slide-out 1s forwards;  
}

.menu__menu {
  border-radius: 100px;
  padding: 0.5em 0.7em;
  margin-top: 0.4vw;
  margin-bottom: 0.5vw; 
  position: fixed;
  right: 1vw;
  transition: transform 1s;
  z-index: 1;
  font-size: large;
}

.menu__menu:active {
  transform: rotate(1turn);
  transition: none; /* Remover a transição durante o estado ativo */  
}

.menu__item.active {
  display: block;
  animation: slide-in 1s forwards; 
}

.menu__item:hover {
  background-color: var(--destaque);
  border-radius: 50px;
  transition: 2s;
  margin-top: 0.4vw;
  margin-bottom: 0.5vw;  
}

.menu__item span {
  display: none;
  transform: translateX(100vw);
  white-space: nowrap;
  transition: color 0.3s;
}

.menu__item:hover span {
  left: 0;
  position: inherit;
  display: contents;   
}

@keyframes slide-in {
  0% {
    transform: translateX(15vw);
  }
  100% {
    transform: translateX(-6vw);
  }
}

@keyframes slide-out {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50vw);
  }
}